body {
  min-height: 90vh;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2d31;
  margin: 0;
  margin-inline: auto;
  overflow-x: hidden;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
