.navBar {
  position: fixed;
  top: 0;
  right: 100%; 
  height: 100%;
  width: 47%; 
  background-color: #333435;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  z-index: 2;
  transition: right 0.3s ease-in-out; 
}

.open {
  right: 0; 
}

.navBarConteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7rem;
}

.navBarBtnFechar {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.navBarForms {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  margin-top: 20px;
}

.navBarForms label {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 8px; 
  display: block;
}

.navBarForms input {
  width: 100%;
  max-width: 400px; 
  height: 40px; 
  align-items: center;
  padding: 8px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.navBarForms textarea {
  width: 100%;
  max-width: 400px; 
  height: 120px; 
  padding: 8px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  resize: none;
}




.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel {
  background: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.save {
  background: #114593;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.cancel:hover {
  background: #555;
}

.save:hover {
  background: #07357a;
}
