.navBar {
    position: fixed;
    top: 0;
    right: -100%; 
    height: 100%;
    width: 30%;
    background-color: #333435;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 2;
    visibility: hidden;
    transition: right 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.open {
    right:  0;
    visibility: visible;
}

.navBarConteudo {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.navBarBtnFechar {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
}

.navBarForms label {
    font-size: 18px;
    color: #ccc;
}

.navBarForms input,
.navBarForms textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    background-color: #2e2e2e;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 20px;
    margin-bottom: 20px;
    resize: none; 
}

.tarefaBtnFechar {
    background-color: #868383;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.tarefaBtnSalvar {
    background-color: #114593;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.tarefaBtnFechar:hover {
    background-color: #3c4043;
}

.tarefaBtnSalvar:hover {
    background-color: #07357a;
}

.navBarBtnFechar:hover{
    background-color: #3c4043;

}